<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Название страницы</title>
</head>
	Содержимое файла requirements.txt:
<body>
        <br>
      {%for item in items%} {{item}}
      <br>
        {%endfor%}



</body>
</html>